    /*Utility class*/

.text-primary{
    color: rgb(41, 147, 179);
}
     /*allbutoon*/
.btn{
    display: inline-block;
    cursor: pointer;
    padding:10px 25px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
}
      /*buttoncollum*/
.btn-primary{
background-color:  rgb(41, 147, 179);
color:aliceblue;
text-decoration: none;
}

.btn-primary:hover{
background-color:#135fa1;
}
/*home start*/
       /*headout*/
#home .navbar{
    position: fixed;
top: 0;
background-color: rgb(41, 147, 179);
width: 100%;
box-shadow: 0px 1px 5px rgb(0, 0, 0.2);}

       /*headin*/
#home .navbar nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: auto;}

      /*listlink*/
#home .navbar nav ul{
    display: flex;
    list-style: none;}

      /*links*/
      #home .navbar nav ul a {
        margin: 0 15px ;
       color:var(--dark-gray);
       font-weight: 500;
       transition: all 0.3s ease;
       text-decoration: none;  }

      /*hoverlinks*/
      #home .navbar nav ul a:hover{
        color:white;}
        #home .navbar nav .linkhead{
            border-radius: 5px;
           background-color: white;
        }
        /*hoverbottunhead*/
        #home .navbar nav .linkhead:hover{
            color:#135fa1;
            background-color: black;
        }
        /*logo*/
#home .navbar .logo{
width: 50px;}

#home .home-content{
background:url("./background.png")no-repeat center center/cover;
min-height: 100vh;
display: flex;
align-items: center;}
 
      /*columtext*/
#home .home-content .col{
width: 1200px;
margin: auto;
padding: 0 2rem;}

#home .home-content .col small{
    font-weight: 500;
    font-size: 14px;}

#home .home-content .col small img{
vertical-align: middle;
width: 30px;}

#home .home-content .col h1{
    font-size: 40px;
   max-width: 600px;
   line-height: 1.4em;;
}
#home .home-content .col p{
    margin:10px 0 30px;
    max-width: 500px;
    line-height: 1.6;
}
#home .home-content .col a{
    margin-right: 15px;
}
/*home end*/
